html(lang="en")

head
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    title Form


body
    div.container.m-5

     form#form(action="/" method="POST" name="form")
       textarea#text(name="text", cols="100", rows="5") 
       button.btn.btn-primary(type="submit") Send 


    script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js")